.header {

  &__img {
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url(../img/header/header_001_1920w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__img--1 {
    background-image: url(../img/header/header_001_1920w.jpg);
    background-position-y: bottom;
    background-position-x: 37%;

    @media only screen and (max-width: 1500px) and (max-height: 1240px) {
      background-image: url(../img/header/header_001_1024h.jpg);
    }

    @media only screen and (min-width: 1921px) {
      background-image: url(../img/header/header_001_full.jpg);
    }
  }

  &__img--2 {
    background-image: url(../img/header/header_002_1920w.jpg);
    background-position-y: top;
    background-position-x: 67%;

    @media only screen and (max-width: 1500px) and (max-height: 1240px) {
      background-image: url(../img/header/header_002_1024h.jpg);
    }

    @media only screen and (min-width: 1921px) {
      background-image: url(../img/header/header_002_full.jpg);
    }
  }

  &__img--3 {
    background-image: url(../img/header/header_003_1920w.jpg);
    background-position-y: 60%;
    background-position-x: 49%;

    @media only screen and (max-width: 1500px) and (max-height: 1240px) {
      background-image: url(../img/header/header_003_1024h.jpg);
    }

    @media only screen and (min-width: 1921px) {
      background-image: url(../img/header/header_003_full.jpg);
    }
  }

  &__img--4 {
    background-image: url(../img/header/header_004_1920w.jpg);
    background-position-y: 60%;
    background-position-x: 61%;

    @media only screen and (max-width: 1500px) and (max-height: 1240px) {
      background-image: url(../img/header/header_004_1024h.jpg);
    }

    @media only screen and (min-width: 1921px) {
      background-image: url(../img/header/header_004_full.jpg);
    }
  }

  &__img--5 {
    background-image: url(../img/header/header_005_1920w.jpg);
    background-position-y: 20%;
    background-position-x: 34%;

    @media only screen and (max-width: 1500px) and (max-height: 1240px) {
      background-image: url(../img/header/header_005_1024h.jpg);
    }

    @media only screen and (min-width: 1921px) {
      background-image: url(../img/header/header_005_full.jpg);
    }
  }
}